* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
    background: #c1dfc4;
  }
::-webkit-scrollbar-thumb {
    background: #673AB7;
    border-radius: 5px;
  }
.scroll-class {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100%;
}
.nav {
    position: fixed;
    height: 60px;
    background: #673AB7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100% !important;
    box-shadow: 0 0 2px 2px rgb(66, 65, 65);
    
}
.nav-expand-mobile {
    display: none;
}
.nav-heading, .nav-links{
    color: #fff;
}
.nav-links {
    font-family: 'Nunito', sans-serif;
}

.hero {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;

}
.letter {
    font-size: 200px;
    font-family: 'Staatliches', cursive;
    margin: 0px 5px;
}

.letter-o {
    color: #390791;
}

.letter-u {
    color: #390791;
}

.letter-text {
    position: relative;
    font-size: 2rem;
    top: -30px;
    font-family: 'Nunito', sans-serif;
}
.divider {
    border: 2px solid #390791;
}
.page2 {
    height: 100vh;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}
.home-scroll {
    width: fit-content;
}
.home-scroll:hover {
    cursor: pointer;
}
.cat-heading {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 900;
}
.cat-text {
    margin-top: 10px;
    font-size: 1.6rem;
}
.cat-button {
    text-transform: uppercase;
    font-size: 1.2rem;
    width: fit-content;
    border: 2px solid #390791;
    padding: 10px 10px;
    border-radius: 10px;
    transition-duration: 0.25s;
    margin-top: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
       
}
.cat-button:hover {
    cursor: pointer;
    border: 2px solid transparent;
    background-color: #390791;
    color: white; 
}
.cat-img {
    height: 200px;
}
.editor {
    height: 300px;
}
@media screen and (max-width: 768px){
    .nav-heading {
        text-align: center;
        margin-top: 5px;
    }
    .nav-links {
        display: none
    }
    .nav-expand-mobile {
        display: block;
        color: white;
        position: absolute;
        width: 100%;
        font-size: 25px;
    }
    .nav-button {
        position: relative;
        top: 3.5px;   
    }
    .nav-button:hover {
        cursor: pointer;
    }
}
@media screen and (max-width: 570px){
    .letter {
        font-size: 150px;
    }
}
@media screen and (max-width: 460px){
    .letter {
        font-size: 100px;
    }
    .letter-text {
        font-size: 1.25rem;
    }
    .cat-img {
        height: 150px;
    }
    .editor {
        height: 200px;
    }

}
@media screen and (max-width: 380px){
    .letter {
        font-size: 50px;
    }
    .letter-text {
        font-size: 1rem;
        top: 0px;
    }
    .cat-img {
        height: 100px;
    }
}
